<div id="productos">
    {{#each products}}
        <ul>
            <li>Producto: {{title}}</li>
            <li>Precio: {{price}}</li>
        </ul>
    {{/each}}
    
</div>
<!--<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>-->