<div>
    <h2>Recupera tu contraseña</h2>
    <form action="" id="restoreForm">
        <label for="">
            Email
            <input type="email" name="email">
        </label>
        <label for="">
            Password
            <input type="password" name="newPassword">
        </label>
        <button type="submit">Recuperar contraseña</button>
        <a href="/login">Login</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/restorePassword.js"></script>