<div id="productos">
    {{#each products}}
        <ul>
            <li>Producto: {{this.title}}</li>
            <li>Precio: {{this.price}}</li>
        </ul>
    {{/each}}
</div>
<!--<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>-->